<configuration>
    <!-- ############ #APPENDER PARA ALMACENAR LA INFORMACIÓN EN UN ARCHIVO ################-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="HOME_LOG" value="logs/app.log"/>
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <!-- ############ #APPENDER PARA ALMACENAR LA INFORMACIÓN EN UN ARCHIVO ################-->

    <!-- ############# APPENDER PARA ALMACENAR EN GRAYLOG TEST ################-->
    <appender name="GENERIC_LOGGER_LGB" class="de.siegmar.logbackgelf.GelfTcpAppender">
        <graylogHost>54.187.63.254</graylogHost>
        <graylogPort>12302</graylogPort>
        <connectTimeout>15000</connectTimeout>
        <socketTimeout>5000</socketTimeout>
        <reconnectInterval>300</reconnectInterval>
        <maxRetries>2</maxRetries>
        <retryDelay>3000</retryDelay>
        <poolSize>2</poolSize>
        <poolMaxWaitTime>5000</poolMaxWaitTime>
        <poolMaxIdleTime>10</poolMaxIdleTime>
        <encoder class="de.siegmar.logbackgelf.GelfEncoder">
            <originHost>https://www.pruebajemm.com</originHost>
            <includeRawMessage>false</includeRawMessage>
            <includeMarker>true</includeMarker>
            <includeMdcData>true</includeMdcData>
            <includeCallerData>false</includeCallerData>
            <includeRootCauseData>false</includeRootCauseData>
            <includeLevelName>false</includeLevelName>
            <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%nopex</pattern>
            </shortPatternLayout>
            <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%n</pattern>
            </fullPatternLayout>
            <numbersAsString>false</numbersAsString>
            <staticField>app_name: Test</staticField>
            <staticField>os_arch:${os.arch}</staticField>
            <staticField>os_name:${os.name}</staticField>
            <staticField>os_version:${os.version}</staticField>
        </encoder>
    </appender>

    <appender name="BATCH_LOGGER_LGB" class="de.siegmar.logbackgelf.GelfTcpAppender">
        <graylogHost>54.187.63.254</graylogHost>
        <graylogPort>12303</graylogPort>
        <connectTimeout>15000</connectTimeout>
        <socketTimeout>5000</socketTimeout>
        <reconnectInterval>300</reconnectInterval>
        <maxRetries>2</maxRetries>
        <retryDelay>3000</retryDelay>
        <poolSize>2</poolSize>
        <poolMaxWaitTime>5000</poolMaxWaitTime>
        <poolMaxIdleTime>10</poolMaxIdleTime>
        <encoder class="de.siegmar.logbackgelf.GelfEncoder">
            <originHost>https://www.pruebajemm.com</originHost>
            <includeRawMessage>false</includeRawMessage>
            <includeMarker>true</includeMarker>
            <includeMdcData>true</includeMdcData>
            <includeCallerData>false</includeCallerData>
            <includeRootCauseData>false</includeRootCauseData>
            <includeLevelName>false</includeLevelName>
            <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%nopex</pattern>
            </shortPatternLayout>
            <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%n</pattern>
            </fullPatternLayout>
            <numbersAsString>false</numbersAsString>
            <staticField>app_name: Test</staticField>
            <staticField>os_arch:${os.arch}</staticField>
            <staticField>os_name:${os.name}</staticField>
            <staticField>os_version:${os.version}</staticField>
        </encoder>
    </appender>

    <appender name="AUDIT_BUSINESS_LOGGER_LGB" class="de.siegmar.logbackgelf.GelfTcpAppender">
        <graylogHost>54.187.63.254</graylogHost>
        <graylogPort>12304</graylogPort>
        <connectTimeout>15000</connectTimeout>
        <socketTimeout>5000</socketTimeout>
        <reconnectInterval>300</reconnectInterval>
        <maxRetries>2</maxRetries>
        <retryDelay>3000</retryDelay>
        <poolSize>2</poolSize>
        <poolMaxWaitTime>5000</poolMaxWaitTime>
        <poolMaxIdleTime>10</poolMaxIdleTime>
        <encoder class="de.siegmar.logbackgelf.GelfEncoder">
            <originHost>https://www.pruebajemm.com</originHost>
            <includeRawMessage>false</includeRawMessage>
            <includeMarker>true</includeMarker>
            <includeMdcData>true</includeMdcData>
            <includeCallerData>false</includeCallerData>
            <includeRootCauseData>false</includeRootCauseData>
            <includeLevelName>false</includeLevelName>
            <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%nopex</pattern>
            </shortPatternLayout>
            <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%n</pattern>
            </fullPatternLayout>
            <numbersAsString>false</numbersAsString>
            <staticField>app_name: Test</staticField>
            <staticField>os_arch:${os.arch}</staticField>
            <staticField>os_name:${os.name}</staticField>
            <staticField>os_version:${os.version}</staticField>
        </encoder>
    </appender>

    <appender name="ERROR_LOGGER_LGB" class="de.siegmar.logbackgelf.GelfTcpAppender">
        <graylogHost>54.187.63.254</graylogHost>
        <graylogPort>12305</graylogPort>
        <connectTimeout>15000</connectTimeout>
        <socketTimeout>5000</socketTimeout>
        <reconnectInterval>300</reconnectInterval>
        <maxRetries>2</maxRetries>
        <retryDelay>3000</retryDelay>
        <poolSize>2</poolSize>
        <poolMaxWaitTime>5000</poolMaxWaitTime>
        <poolMaxIdleTime>10</poolMaxIdleTime>
        <encoder class="de.siegmar.logbackgelf.GelfEncoder">
            <originHost>https://www.pruebajemm.com</originHost>
            <includeRawMessage>false</includeRawMessage>
            <includeMarker>true</includeMarker>
            <includeMdcData>true</includeMdcData>
            <includeCallerData>false</includeCallerData>
            <includeRootCauseData>false</includeRootCauseData>
            <includeLevelName>false</includeLevelName>
            <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%nopex</pattern>
            </shortPatternLayout>
            <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%n</pattern>
            </fullPatternLayout>
            <numbersAsString>false</numbersAsString>
            <staticField>app_name: Test</staticField>
            <staticField>os_arch:${os.arch}</staticField>
            <staticField>os_name:${os.name}</staticField>
            <staticField>os_version:${os.version}</staticField>
        </encoder>
    </appender>
    <!-- ############# APPENDER PARA ALMACENAR EN GRAYLOG TEST ################-->

    <!-- ############## CONFIGURACIÓN DE LOS LOGGERS PARA SER IDENTIFICADOS ###-->
    <logger name="GENERIC_LOGGER" level="INFO">
        <appender-ref ref="GENERIC_LOGGER_LGB" />
    </logger>

    <logger name="BATCH_LOGGER" level="DEBUG">
        <appender-ref ref="BATCH_LOGGER_LGB" />
    </logger>

    <logger name="AUDIT_BUSINESS_LOGGER" level="WARN">
        <appender-ref ref="AUDIT_BUSINESS_LOGGER_LGB" />
    </logger>

    <logger name="ERROR_LOGGER" level="ERROR">
        <appender-ref ref="ERROR_LOGGER_LGB" />
    </logger>

    <!-- ############## CONFIGURACIÓN DE LOS LOGGERS PARA SER IDENTIFICADOS ###-->

    <root level="debug">
        <appender-ref ref="console" />
        <appender-ref ref="FILE-ROLLING" />
    </root>

</configuration>